# Ignore js files inside local chromium download on Travis.
**/chrome-linux/**

**/node_modules/**
**/third_party/**

lighthouse-extension/dist
lighthouse-extension/app/scripts


**/closure/*/*
coverage/**

# Typescript compiled
lighthouse-cli/index.js
lighthouse-cli/chrome-finder.js
lighthouse-cli/ask.js
lighthouse-cli/printer.js
lighthouse-cli/chrome-launcher.js
